.admin-container {
  padding: 30px;
  background: #0f172a;
  min-height: 100vh;
  color: white;
}

.match-card {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.teams {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 10px;
}

.inputs input {
  width: 70px;
  margin-right: 10px;
  padding: 5px;
  font-size: 16px;
}

button {
  padding: 6px 12px;
  background: #22c55e;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}